# 复制到工作目录外，并设置：
# EDA_HARNESS_TOOLCHAIN_CONFIG=/绝对路径/toolchain.env
# 值只用于二进制或 SDK 定位，不支持 shell 代码。

# EDA_TOOL_VCS=/path/to/vcs
# EDA_TOOL_XRUN=/path/to/xrun
# EDA_TOOL_IRUN=/path/to/irun
# EDA_TOOL_VSIM=/path/to/vsim
# EDA_TOOL_QRUN=/path/to/qrun
# EDA_TOOL_RIVIERA=/path/to/vsimsa
# EDA_TOOL_DSIM=/path/to/dsim
# EDA_TOOL_VERILATOR=/path/to/verilator
# EDA_TOOL_IVERILOG=/path/to/iverilog
# EDA_TOOL_SLANG=/path/to/slang
# EDA_TOOL_SURELOG=/path/to/surelog
# EDA_TOOL_UHDM_LINT=/path/to/uhdm-lint
# EDA_TOOL_UHDM_HIER=/path/to/uhdm-hier
# EDA_TOOL_UHDM=/path/to/eda-uhdm
# EDA_TOOL_YOSYS=/path/to/yosys
# EDA_TOOL_SBY=/path/to/sby
# EDA_TOOL_YOSYS_SMTBMC=/path/to/yosys-smtbmc
# EDA_TOOL_BOOLECTOR=/path/to/boolector
# EDA_TOOL_Z3=/path/to/z3
# EDA_TOOL_DC_SHELL=/path/to/dc_shell
# EDA_TOOL_GENUS=/path/to/genus
# EDA_TOOL_SPYGLASS=/path/to/spyglass
# EDA_TOOL_JASPERGOLD=/path/to/jg
# EDA_TOOL_VC_FORMAL=/path/to/vcf
# EDA_TOOL_VIVADO=/path/to/vivado
# EDA_TOOL_QUARTUS=/path/to/quartus_sh
# EDA_TOOL_REGTOOL=/path/to/regtool
# EDA_TOOL_VERDI=/path/to/verdi
# EDA_TOOL_DVE=/path/to/dve
# EDA_TOOL_GTKWAVE=/path/to/gtkwave
# EDA_TOOL_CC=/usr/bin/cc
# EDA_TOOL_CXX=/usr/bin/c++
# EDA_TOOL_CMAKE=/usr/bin/cmake
# EDA_TOOL_CTEST=/usr/bin/ctest
# EDA_TOOL_NINJA=/usr/bin/ninja
# EDA_TOOL_MAKE=/usr/bin/make
# EDA_TOOL_BAZEL=/path/to/bazel
# EDA_TOOL_CONAN=/path/to/conan
# EDA_TOOL_PKG_CONFIG=/usr/bin/pkg-config
# EDA_TOOL_FUSESOC=/path/to/fusesoc
# EDA_TOOL_MODULECMD=/path/to/modulecmd
# EDA_TOOL_GIT=/usr/bin/git
# EDA_TOOL_PODMAN=/usr/bin/podman
# EDA_TOOL_PODMAN_COMPOSE=/usr/bin/podman-compose
# EDA_TOOL_DOCKER=/usr/bin/docker
# EDA_TOOL_UV=/path/to/uv

# EDA_SCC_HOME=/path/to/scc-sdk
# EDA_SCC_DEPS=/path/to/scc-dependencies
# EDA_SYSTEMC_HOME=/path/to/systemc
# VCS_HOME=/path/to/vcs-install
# VERDI_HOME=/path/to/verdi-install
# XCELIUM_HOME=/path/to/xcelium-install
# CDS_INST_DIR=/path/to/cadence-install
# QUESTA_HOME=/path/to/questa-install
# MODELSIM_HOME=/path/to/modelsim-install
# ALDEC_HOME=/path/to/aldec-install
# XILINX_VIVADO=/path/to/vivado-install
# QUARTUS_ROOTDIR=/path/to/quartus-install
# CMAKE_PREFIX_PATH=/path/to/scc-sdk:/path/to/dependencies
# CMAKE_MODULE_PATH=/path/to/cmake/modules
# LD_LIBRARY_PATH=/path/to/sdk/lib:/path/to/dependencies/lib
