# 复制到工作目录外，并设置：
# EDA_HARNESS_TOOLCHAIN_CONFIG=/绝对路径/toolchain.env
# 值只用于二进制或 SDK 定位，不支持 shell 代码。

# EDA_TOOL_VCS=/path/to/vcs
# EDA_TOOL_VERILATOR=/path/to/verilator
# EDA_TOOL_IVERILOG=/path/to/iverilog
# EDA_TOOL_SURELOG=/path/to/surelog
# EDA_TOOL_UHDM_LINT=/path/to/uhdm-lint
# EDA_TOOL_UHDM_HIER=/path/to/uhdm-hier
# EDA_TOOL_UHDM=/path/to/eda-uhdm
# EDA_TOOL_CC=/usr/bin/cc
# EDA_TOOL_CXX=/usr/bin/c++
# EDA_TOOL_CMAKE=/usr/bin/cmake
# EDA_TOOL_CTEST=/usr/bin/ctest
# EDA_TOOL_NINJA=/usr/bin/ninja
# EDA_TOOL_MAKE=/usr/bin/make
# EDA_TOOL_GIT=/usr/bin/git
# EDA_TOOL_PODMAN=/usr/bin/podman
# EDA_TOOL_PODMAN_COMPOSE=/usr/bin/podman-compose
# EDA_TOOL_DOCKER=/usr/bin/docker
# EDA_TOOL_UV=/path/to/uv

# EDA_SCC_HOME=/path/to/scc-sdk
# EDA_SCC_DEPS=/path/to/scc-dependencies
# EDA_SYSTEMC_HOME=/path/to/systemc
# VCS_HOME=/path/to/vcs-install
# CMAKE_PREFIX_PATH=/path/to/scc-sdk:/path/to/dependencies
# CMAKE_MODULE_PATH=/path/to/cmake/modules
# LD_LIBRARY_PATH=/path/to/sdk/lib:/path/to/dependencies/lib
